@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
body {
    background-image: url('imagenes/tierradelfuego.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.centrado{
    text-align: center;
}
h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
title{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.centrado{
    font-family: 'Bree Serif', serif;
}
a{
    font-family: 'Bree Serif', serif;
}
.img-limites{
    width: 400px;
    height: 400px;
    float: left;
}
.img-derecha{
    width: 300px;
    height: 450px;
    float: right;
}
.img-cet30{
    width: 100px;
    height: 100px;
    float:inline-end;
    padding-left: 20px;
}
.footer{
    text-align: end;
    border-width: 3px;
}
.gobernadores{
    background-color: rgba(255, 255, 255, 0.329);
    padding: 8px;
    border: rgb(49, 49, 49) 2px;
}
.gobernadores td{
    border-width: rgb(49, 49, 49) solid 2px;
    padding: 7px;
}
p{
    padding-bottom: 15px;
}
.gobernadores td{
    border-bottom: gray;
}
